<h1><%= @player.name %> You have entered the first room of the maze. There are 3 paths to choose from.</h1><br>



<p><a href="/room2">Travel West</a></p>
<p><a href="/room3">Travel North</a></p>
<p><a href="/room4">Travel East</a></p>