<h1> You have entered the first room of the maze. There are 3 paths to choose from.</h1><br>



<p><a href="/room6">Travel West</a></p>
<p><a href="/room7">Travel North</a></p>
<p><a href="/room2">Travel East</a></p>